:host{
    flex: 1;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-shadow: -2px 0px 5px mediumpurple, -3px 0px 0px white;
    background: linear-gradient(to left, rgba(147, 112, 216, 0.75), rgba(103, 49, 174, 0.95)),
    url(/assets/cinema-background1.jpg);
    background-size: 100% 450%;
    background-position: 0% 48%;
    min-height: 14vh;
    overflow: hidden;
    font-family: sans-serif;
}

h1{
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

h1::after{
    content: "By Yonatan Silberstein";
    font-family: cursive;
    font-size: 1.35rem;
    margin-left: 32px;
    text-shadow: none;
    text-decoration: underline;
}


/*******************
    breakpoints
*******************/
@media all and (max-width: 760px){
    h1{
        flex-wrap: wrap;
    }
}

@media all and (max-width: 480px){
    h1{
        font-size: 2rem;
    }
}

@media all and (min-width: 480px) and (max-width: 760px){
    h1{
        font-size: 3rem;
    }
}