/*********************************
    Flexbox - no break points
*********************************/

:host{
    flex: 6;
}

#scrollHelper{
    height: 100%;
    width: 100%;
}

#create-new-button{
    position: absolute;
    bottom: calc(100% - 48px);
    left: 96px;
    display: block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    overflow: hidden;
    cursor: pointer;
    color: #00000099;
}

#create-new-button:hover{
    cursor: pointer;
    color: rebeccapurple;
}

#gallery{
    position: relative;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 5rem;
    justify-content: center;
    min-width: 500px;
}

.gallery-item{
    background: white;    
    box-shadow: -1px 1px 5px grey;
    margin: 16px;
    width: 238px;
    /* height: 55%; */
    min-height: 300px;
    height: 340px;
    transition: all 50ms linear;       
}

.gallery-item:hover{
    transform: scale(1.05,1.05);  
    transition: all 50ms linear;   
}

.loading-indicator{
    visibility: hidden;
}

.loading-indicator.revealed{
    visibility: visible;
}

